{% extends '@content/page.twig' %}

{% block scripts %}
<script src="{{assets}}/js/filelist.js"></script>
{% endblock scripts %}

{% block header %}
    <!--This is the header ID -->

    <!-- article tag holds a data-project for the java script-->
    <article class="col-md-12" id="noteid"  data-project="{{projectid}}" data-note="{{noteid}}">
        <h1 class="text-center">Edit {{action}}</h1>
        <h2 class="text-center">{{note.title}}</h2>
    </article>
{% endblock header %}

{% block main %}
    {% include '@util/message.twig' %}
    <!-- Form for filling out the node -->
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
        <div class="modal-body">
        {% import '@util/formmacro.twig' as f %}
        {{f.startform({method: 'post', multi: TRUE})}}
            {{f.text({label: 'Title', id: 'title', name: 'title', ph: note.title })}}
            {{f.text({label: 'Summary', id: 'summary', name: 'summary', ph: note.summary })}}
            <h5> Your files </h5>
            <ul class="list-group" id='upload'></ul>
            <br>
            {{f.file({id: 'f0', name: 'myfile', label: 'Upload more files'})}}
            {{f.number({min: '1', name: 'time', label: 'Time spent (minutes)', ph: note.minutes})}}
            <div class="modal-footer">
                <a href="{{base}}/projects"><button type="button" class="btn btn-primary">back</button></a>
                <button onclick="location.href='http://www.example.com'" type="button">
                {{f.submit({value: 'Save changes'})}}
            </div>
        {{f.endform()}}
        </article>
    </section>
{% endblock main %}

